body {
  margin: 0;
}

main {
  --label-spacing: 6px;
  --input-spacing: 34px;
  --input-width: 100%;
  --input-height: 34px;

  display: flex;
  justify-items: center;
  align-items: center;

  min-height: 100vh;
  font-size: 14px;

  a {
    cursor: pointer;
    color: #0076ff;
    letter-spacing: 0.16px;
    text-decoration: none;
  }

  button,
  .btn {
    width: var(--input-width);
    padding: calc(0.5 * (var(--input-height) - 16px));
    text-decoration: none;
  }

  h1 {
    margin: 0 0 2px;

    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.58px;
    font-weight: 800;
  }

  h2 {
    margin: 0 0 26px;

    color: #656565;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
  }

  hr {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;

    &.two-sided-margin {
      margin-top: 16px;
    }
  }

  [role="alert"]:not(input + *) {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 18px;
    border-radius: 8px;

    color: #ff1717;
    background-color: #fff1eb;
    font-size: inherit;
    letter-spacing: 0.2px;

    transform-origin: top;
    animation: spawn-error-banner 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    @keyframes spawn-error-banner {
      from {
        opacity: 0;
        transform: rotateX(-100deg);
      }

      to {
        opacity: 1;
        transform: rotateX(0deg);
      }
    }
  }

  hr + [role="alert"]:not(input + *) {
    margin-bottom: 16px; // Even with `hr` margin
  }

  h2 + [role="alert"]:not(input + *) {
    margin-top: calc(16px - 26px); // Based on `h2` margin, made to make spacing look even
    margin-bottom: 16px;
  }

  > .auth-card {
    box-sizing: border-box;
    width: 420px;
    padding: 35px 50px;
    border-radius: 8px;
    margin: 0 auto;

    background-color: white;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 16%);
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 21px;
  }

  > form {
    box-sizing: border-box;
    width: 420px;
    padding: 30px 50px 60px;
    border-radius: 8px;
    margin: 0 auto;

    background-color: white;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 16%);
    font-family: "Rubik", sans-serif;

    :not(label, input, input + [id][role="alert"]) {
      text-align: center;
    }

    input {
      width: var(--input-width);
      height: var(--input-height);

      margin-top: var(--label-spacing);
      margin-bottom: var(--input-spacing);

      &[aria-invalid="true"] {
        --input-border-color: #ff1717;

        &:focus {
          --input-shadow-color: #ff171740;
        }
      }

      + div[id][role="alert"] {
        margin-top: calc(10px - var(--input-height));
        margin-bottom: calc(var(--input-height) - 10px);

        color: #ff1717;
        font-weight: 400px;

        animation: spawn-error-message 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        @keyframes spawn-error-message {
          from {
            opacity: 0;
            transform: translateY(-5px);
          }

          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}
