:root {
  --primary-color: #ff9b33;
  --input-radius: 6px;
}

body {
  color: #222;

  :first-child {
    margin-top: 0px;
  }

  :last-child {
    margin-bottom: 0px;
  }

  hr {
    border-style: none;
    border-top: 0.3px solid #ddd;
  }

  label,
  div:has(> label) {
    font-weight: 600;
    line-height: 24px;

    + input:not([type="radio"], [type="checkbox"]) {
      --input-border-color: #e0e0e0;
      --input-shadow-color: #ff9b3340;

      display: block;
      box-sizing: border-box;
      padding: 1px 25px 1px 15px;
      border: 1px solid var(--input-border-color);
      border-radius: var(--input-radius);

      letter-spacing: 1.2px;
      background-color: #fafafa;

      &:focus {
        --input-border-color: var(--primary-color);

        box-shadow: 0 0 0 0.2rem var(--input-shadow-color);
        background-color: #fafafa40;
        outline: none;
      }
    }
  }

  button,
  .btn {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ee8d23;
    border-radius: var(--input-radius);

    cursor: pointer;
    font-size: inherit;
    font-weight: 700;
    color: white;
    background-color: var(--primary-color);
    transition: all 0.4s;

    @media (hover: hover) {
      &:hover {
        filter: brightness(0.95);
      }
    }
  }

  // CSS resets
  ul {
    padding: 0;
    margin: 0;
  }
}

/* -------------------- Utility Classes -------------------- */
// These CSS classes are copied from TailwindCSS, until we finally decide to use Tailwind directly in the project.
.\@flex {
  display: flex;
}

.\@justify-between {
  justify-content: space-between;
}

.\@items-center {
  align-items: center;
}
