main > form {
  hr {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
  }

  %link-like-base {
    cursor: pointer;
    letter-spacing: 0.16px;
  }

  .link-like {
    @extend %link-like-base;
    color: #0076ff;
  }

  a.link-like-dark {
    @extend %link-like-base;
    display: inline-block;
    margin-top: 10px;

    text-decoration: none;
    color: #656565;
  }
}
