main > form {
  hr {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
  }

  a.forgot-password {
    display: block;
    width: fit-content;
    margin: 10px auto 0;
    color: #656565;
  }
}
