/*
 * These styles are intended to be usable in isolation from the rest of the app. Because of
 * this, you will see some styles duplicated from `global.scss`
 */

.form-test {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0 75px;

  > h1 {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 28px;

    + p {
      width: 100%;
      margin: 0;
      text-align: center;
      font-size: 16px;
    }
  }

  > .form-data-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    h2 {
      margin-bottom: 0;

      + pre {
        max-width: 350px;
        padding: 10px;
        border-radius: 10px;
        margin: 0;
        background-color: #d3d3d3;
      }
    }
  }

  > form {
    --input-width: 300px;
    --input-spacing: 25px;
    --input-label-spacing: 6px;
    --input-border-color: #e0e0e0;
    --input-shadow-color: #ff9b3340;

    > label {
      font-weight: 600;
      line-height: 24px;

      + input:not([type="radio"], [type="checkbox"]),
      + textarea,
      + select {
        display: block;
        box-sizing: border-box;
        width: var(--input-width);
        height: 34px;
        padding: 1px 25px 1px 15px;
        border: 1px solid var(--input-border-color);
        border-radius: var(--input-radius);
        margin-top: var(--input-label-spacing);
        margin-bottom: var(--input-spacing);

        letter-spacing: 1.2px;
        background-color: #fafafa;

        &:focus {
          --input-border-color: var(--primary-color);

          box-shadow: 0 0 0 0.2rem var(--input-shadow-color);
          background-color: #fafafa40;
          outline: none;
        }
      }

      + textarea {
        height: auto;
        max-height: 100px;
        padding: 10px 15px;
        resize: none;
      }

      + select[multiple] {
        height: auto;
        padding: 0;
      }
    }

    input:is([type="radio"], [type="checkbox"]) + label {
      margin-left: 2.5px;
    }

    input[type="radio"]:not(:last-of-type) + label {
      margin-right: 10px;
    }

    fieldset,
    input[type="checkbox"] {
      margin-bottom: var(--input-spacing);
    }

    fieldset {
      width: var(--input-width);
      padding: 0;
      border: 0;

      > legend {
        font-weight: 600;
        margin-bottom: var(--input-label-spacing);
      }
    }

    > button[type="submit"] {
      display: inline-block;
      box-sizing: border-box;
      width: var(--input-width);
      padding: 10px;
      border: 1px solid #ee8d23;
      border-radius: var(--input-radius);

      cursor: pointer;
      font-size: inherit;
      font-weight: 700;
      color: white;
      background-color: var(--primary-color);
      transition: all 0.4s;

      @media (hover: hover) {
        &:hover {
          filter: brightness(0.95);
        }
      }

      &:disabled {
        cursor: not-allowed;
        filter: brightness(0.8);
      }
    }

    > button[type="reset"] {
      display: none;
    }
  }
}
